@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


header {
    @extend %grid-center;
    @include grid-template-set($header);
    padding: 1em;

    & h1 {
        font-family: 'Shrikhand', cursive;
    }

    & a {
        position: absolute;
        left: 1em;
    }

    & a:active {
        color: $violet-primaire;
    }
}